[2016-10-18 19:27] nbari opened #1 "help to review the code"
Help reviewing the code mainly in the https://github.com/immortal/immortal/blob/master/logger.go and interfaces

[2016-11-04 11:40] nbari opened #2 "keep it up when sending signal "DOWN", "D""
When sending signal `down` or `d` the supervisor exists therefore the socket stops listening further requests.

In case the supervisor dir where enable, possible this will cause a loop since the required status is `down` and could became `up`

[2017-02-11 17:09] nbari opened #3 "-o stdout.log -e stderr.log"
make optionally how to log

   - combine stdout/stderr
   - stdout
   - stderr

[2017-02-27 18:43] nbari opened #4 "STOP & CONTINUE os: process already finished"
When sending -s for stop and -c for continue I get os: process already finished

sending the signals to the pid directly it works.

[code]

[2017-02-27 21:59] nbari commented on #4
Using `syscall.Kill(p.cmd.Process.Pid, sig.(syscall.Signal))` instead of

`p.cmd.Process.Signal(sig)`

seems to be working

[2017-03-15 15:02] nbari commented on #4
https://github.com/golang/go/issues/19314

[2017-03-15 15:02] #4 closed

[2017-03-15 15:03] #2 closed

[2017-03-16 23:02] nbari opened #5 "make immortalctl work when following pid"
when following a pid, all the signals reply with a `no such process `

[code]

Find a way to send signals to the master pid on file

[2017-03-17 00:27] nbari opened #6 "distinguish when a Pid is been followed"
When followign a pid, instead of printing the pid in red, probably yellow could be used:

[code]

[2017-03-17 00:27] nbari commented on #6
Related to #5

[2017-03-17 00:58] nbari opened #7 "conflict when using -l and logger with watchpid"
When logging to a file using -l or -logger

The watchpid line is not printed but seems to be working, the expected logs should be somethign like:

[code]

Also, the process remains up "green", but can't send signals to it

[2017-03-17 15:05] nbari commented on #7
possible related https://github.com/golang/go/issues/10338

[2017-03-17 18:18] nbari commented on #7
Fixed in 0.10.1

[2017-03-17 18:18] #7 closed

[2017-03-17 18:18] nbari commented on #6
implemented in 0.10.1

[2017-03-17 18:18] #6 closed

[2017-03-17 18:19] nbari commented on #5
#6

[2017-03-17 18:19] #5 closed

[2017-03-17 18:19] #1 closed

[2017-03-18 19:42] nbari commented on #3
This may be delegated to the app if is sending out structured logs then could be handled better since within only one log stream it can capture everything.

for now will close it

[2017-03-18 19:42] #3 closed

[2017-03-21 09:00] nbari opened #8 "abstract functions on an interface to better handle tests"
to better test `immortalctl` and `immortaldir` create an interface to test mock `SendSignal`

[2017-03-22 10:13] nbari commented on #8
also this applies to `scandir.go`

[2017-03-26 18:47] #8 closed

[2017-03-26 18:51] nbari opened #9 "improve PurgeServices to avoid accidents"
`PurgeServices` will remove the parent directory of the listen socket `immortal.sock` but when using a custom path by defining `IMMORTAL_SDIR` and if for accident adding the proper path,  example:

    export IMMORTAL_SDIR=/

that may delete full root directory (`rm -rf /`)

So better find a way of only cleaning the sockets instead of the full directories.

[2017-03-26 20:31] nbari commented on #9
Fixed on 0.10.4

[2017-03-26 20:31] #9 closed

[2017-03-29 16:35] nbari opened #10 "Error looking up user: "www". user: Lookup requires cgo"
When downloading the precompiled binaries, this error may appear:

     Error looking up user: "www". user: Lookup requires cgo

Seems that is not currently possible to cross compile using `cgo`, therefore need to way to create the binaries on the native platforms.

Compiling from sources solves this problem.

https://golang.org/cmd/cgo/

[2017-03-30 15:29] didip opened #11 "Does immortal daemonize itself?"
When running immortal, how does it daemonize itself?

[2017-03-30 16:49] nbari commented on #11
Hi, basically forking another process, more about how it is done here:

https://github.com/immortal/immortal/blob/master/fork.go

[2017-03-30 17:39] nbari commented on #10
For now, putting here binaries compiled for the proper architecture:

https://github.com/immortal/immortal/releases

Since is going to be complex to cover all architectures, better improve the docs, Makefile to allow build the binaries on the desired target.

For NetBSD/OpenBSD try to port the FreeBSD port

[2017-03-31 06:03] #11 closed

[2017-03-31 07:39] nbari opened #12 "Implement require"
The idea of the `require` in the configuration file, is to avoid starting services that depend on others, so this will allow to chain services, example:

    require:
        - service1
        - service2

[2017-03-31 11:47] nbari commented on #12
currently implemented on develop branch.

`immortal` is not going to even fork if requirements are missing `status Down`, but need to find a way to keep `immortaldir` keep retrying, handle the error in a better way from `scandir.go`

[2017-03-31 13:50] nbari commented on #12
implemented on 0.11.0

[2017-03-31 13:50] #12 closed

[2017-03-31 21:26] elcritch commented on #10
Same problem on linux/arm. Needs to have `cgo` installed.

This project might provide a solution for better cross compiling: https://github.com/karalabe/xgo

[2017-03-31 21:32] nbari commented on #10
@elcritch, please give a try to this binaries https://github.com/immortal/immortal/releases, they were compiled in Linux and should be working.

Or compile from source: http://immortal.run/source/, I tried the FreeBSD-arm version and working fine, but need to specify the arch like this:

    env GOOS=freebsd GOARCH=arm GOARM=6 go make

[2017-03-31 22:22] elcritch commented on #10
I tried the releases binary for arm (raspberry pi), but it gave the error:

[code]

[2017-03-31 22:25] elcritch commented on #10
However, I compiled immortal using `xgo` with these commands:

[code]

This produced cross-compiled binaries which work fine!

[2017-03-31 22:30] nbari commented on #10
Nice, I will give a try and put available the files on the release.

Are you using version `0.11.0` or `0.10.5`, or was a typo from the args you used for `xgo`?

[2017-04-01 08:56] nbari opened #15 "Kqueue for immortaldir"
Implement [Kqueue](https://www.freebsd.org/cgi/man.cgi?kqueue) per configuration file or directory to better track changes on demand.

Similar to what `watchpid` is using when using the `-f` follow PID option, but in this case for the configuration files.

[2017-04-01 21:02] elcritch commented on #10
Great! I look forward to trying it out.

No, the 0.10.5 was copied from the running `make` in the 0.11.0 branch. I suspect it's a typo, but I left it in case. I tried compiling one w/o the `-ldflags "-X main.version=0.10.5"` at all and it seemed to work.

[2017-04-06 08:25] nbari opened #16 "immortaldir the restart process is not terminating the process"
`immortaldir` is sending an `exit` instead of a `term` therefore, only the supervisor exist but the process continues to be up and running as expected.

To do a  restart when something changes on the `run.yml`, a `term`, `start` should be performed.

[2017-04-06 12:06] nbari commented on #16
`0.12.0` implemented `halt` option in order to properly do a restart

halt - Stop and exit supervisor
exit - Exit supervisor
stop - stop service

[2017-04-06 12:06] #16 closed

[2017-04-12 16:52] nbari commented on #15
implemented on 0.13.1

https://github.com/immortal/immortal/releases/tag/0.13.1

need better testing

[2017-04-12 16:52] #15 closed

[2017-04-19 15:50] nbari opened #17 "improve tests for scandir (kqueue)"
Need to improve tests/code for properly testing  [scandir](https://github.com/immortal/immortal/blob/master/scandir.go) currently having only this:

https://github.com/immortal/immortal/blob/master/scandir_test.go

[2017-04-20 08:07] nbari commented on #17
Try using only one channel to avoid a race between scandir and exiting the services this may help to better synchronize, also adding a kqueue interface with custom methods to abstract the `goroutine ` calls, could help to better test

[2017-05-17 19:13] extropic-engine opened #18 "Flag to name jobs without using `immortaldir`"
For lightweight or temporary usage of `immortal`, it's still useful to be able to refer to jobs by name. I'm thinking it could work something like this:

[code]

I think this should be fairly straightforward to implement. If it's a feature that you agree would be useful, I would be happy to look into implementing it myself.

[2017-05-17 19:40] nbari commented on #18
Hi, the reason for not using names and using the PIDs is because sometimes the same process may be required to run multiple times within the same session and by having the same name they would collide.

For permanent process, persistent to reboots is better to create a small [datelog.yml](https://immortal.run/post/run.yml/) file, for example:

    cmd: date
    log:
        file: /var/log/app-1.lo

[2017-05-17 20:19] nbari commented on #17
Implemented in 0.13.3 but need to improve tests

[2017-05-17 20:19] #17 closed

[2017-05-17 20:31] nbari commented on #18
What about default to PIDs, but if `-n <name>` is set, use the `name` but not allow to create more process if one is already up/running with the same name?

[2017-05-17 20:50] nbari commented on #18
I forgot the `IMMORTAL_SDIR` environment  that can be used with the `-ctl` option so to achive what you want just need to do something like:

    export IMMORTAL_SDIR=/tmp/immortal

And then just run the command like this:

    immortal -ctl datelog -l out.txt /bin/sh -c "date && sleep 5"

later by just typing `immortalctl` you can see the name:

[code]

If the environment var `IMMORTAL_SDIR` is n

[2017-05-17 21:05] extropic-engine commented on #18
Yes, the `-ctl` option is what I was looking for. Tested it out and it works perfectly. Thank you for the help, and for making such an awesome tool! 😃

[2017-05-17 21:05] #18 closed

[2017-05-23 12:10] lipanski opened #19 "implement restart"
I'm missing a restart command that would restart my process without having to run two commands (halt and up). I mainly require this for reloading application-specific configuration files.

I guess a restart command would basically mean calling `immortalctl halt xxx` and then start the process again. it would probably only work when using `immortaldir`.

would be nice to expose the sequence of comm

[2017-05-26 09:41] nbari commented on #19
Currently If using `immortaldir` by just changing the contents of the config file `run.yml` it will automatically restart the process, so basically is already doing a  stop/start sequence,  by sending a TERM signal and exiting the supervisor and later just start all over again.

In some cases, you may want to prevent the process to start so if you remove read rights,  `chmod 000 foo.yml` the proce

[2017-07-13 18:55] nbari commented on #19
Hi @lipanski please give a try to the latest version [0.14.0](https://github.com/immortal/immortal/releases/tag/0.14.0)

To do a "restart" you will just need to `immortalctl halt xxx` and if using `immortaldir`, it will automatically reload the service after 1 second.

What is new in this version is that `immortaldir` watch now for changes in `IMMORTAL_SDIR` so that there is a certain guarantee th

[2017-07-13 18:55] #19 closed

[2017-07-25 18:02] nbari opened #20 "restart alias for "halt""
When having `immortaldir`  up and running and sending signal `halt` basically  a "restart" is performed, services are stopped and started again, therefore could be handy to also have an alias for halt named `restart` something like:

    immortalctl restart service

[2017-07-28 14:35] #10 closed

[2017-08-01 08:41] nbari opened #21 "add option to avoid logger add current time"
The default logger writes to file using the current time as a prefix, for example:

    2017-07-30T02:27:33.285542198Z 2017/07/30 02:27:33  [http://sign-io.appspot.com/] 200 946 806.40384ms

But when the app add its own format it may be desired to just write to the log exactly that the app is sending.

probably add a `timestamp` bool option:

    log:
        file: /var/log/app-1.log
        age:

[2017-08-01 19:18] nbari commented on #21
Fixed on 0.15.0

if `timestamp` set to true it will prefix with time

[2017-08-01 19:18] #21 closed

[2017-08-01 19:18] nbari commented on #20
implemented on 0.15.0

[2017-08-01 19:18] #20 closed

[2017-08-21 08:02] nbari opened #22 "stderr log file"
Be available to specify a file only for writing logs related only to `stderr`, probably something like this:

[code]

The complexity of this is the creation of another pair of pipes only for the `stderr` and another logger that both file/err should be rotated on the defined period

[2017-08-23 13:32] nbari commented on #22
Create 3 log options:

[code]

If `log`,  stdout & stderr will be combined. (default and used also for a custom `logger`)

if `stderr_log`, the log will contain only standard error

if `stdout_log`, the log will contain only standard output

Depending on what is required, any or all of  3 options can be used.

[2017-09-07 16:46] nbari commented on #22
implemented on 0.16.0

[2017-09-07 16:46] #22 closed

[2017-09-13 04:56] alexzaytsev-newsroomly opened #23 "Unable to run immortal with yml config in docker"
I am trying to create long-running services with .net core and Docker, and i want them supervised with immortal.

Here's my dockerfile:

[code]

(i am using VS Docker tools, so the publishing to `/obj/Docker/publish` is handled outside of this docker file)

If i do ```docker run coresandbox``` i get this output:

[code]

However, if i use bash interactively in the image, i can start immortal:

```

[2017-09-13 05:20] #23 closed

[2017-09-13 05:20] alexzaytsev-newsroomly commented on #23
The problem was with my docker entrypoint, using the direct format ```ENTRYPOINT /immortal/immortal_0.16.0_linux_amd64/immortal -c /app/coresandbox.yml``` worked

[2017-09-13 06:02] nbari commented on #23
Hi @alexzaytsev-newsroomly nice that is working, if you find a problem or need help with something please don't hesitate on creating another issue.

[2017-09-19 02:10] alexzaytsev-newsroomly opened #24 "Is it possible to make immortal load environment variables from the actual environment?"
It seems if i don't supply the ```env:``` dictionary in the yaml file, then the environment variables from the OS are not available to the process. Is it possible to have them pass through?

[2017-09-19 07:13] nbari commented on #24
Hi @alexzaytsev-newsroomly it should do it, but probably will not load the environment set for your current user, each process gets its own default environments defined by your setup. if your OS is Linux you can edit the `/etc/environment` and make it global for all.

There are two ways to load more environments, one is using the `env:` in the yaml file, another  one is to write them within a dire

[2017-09-28 18:52] nbari commented on #24
hi @alexzaytsev-newsroomly did you manage to make it work?

[2017-09-28 19:00] nbari opened #25 "improve tests for scandir.go"
improve tests for [scandir.go](https://github.com/immortal/immortal/blob/master/scandir.go)  and [watchdir.go](https://github.com/immortal/immortal/blob/master/watchpid.go) mainly the onew using **kqueue** (freebsd netbsd openbsd dragonfly darwin)

    func (s *ScanDir) Start(ctl Control) {}

and

    func (s *ScanDir) Scandir(ctl Control) error {}

[2017-09-29 07:45] nbari commented on #24
ok, will close the issue, for now, please feel free to create more if required

[2017-09-29 07:45] #24 closed

[2017-10-10 09:54] nbari opened #27 "Tests not passing using travis Go:tip under mac os"
Find out why tests are not passing on Travis (develop branch) only when OS is mac os and go version is `tip` https://travis-ci.org/immortal/immortal/jobs/283863933

[2017-10-10 17:19] adamo57 commented on #27
I could look at this

[2017-10-10 17:19] adamo57 commented on #27
I found in the build logs that the error is `a_test.go:13: Expected:  (type string)  Got: no such process (type string)  in /Users/travis/gopath/src/github.com/immortal/immortal/signals_test.go:182`

[2017-10-19 12:01] nbari commented on #27
Something probably within Travis, working now

[2017-10-19 12:01] #27 closed

[2017-11-02 11:37] nbari opened #30 "usr.HomeDir, verify that HOME environment variable is not ignored"
test/double check that `daemon.go` respects the $HOME environment variable, to prevent something like this: https://github.com/Homebrew/homebrew-core/pull/18238#issuecomment-333303163

give preference to`$HOME` environment variable

[2017-11-07 12:44] nbari commented on #30
fixed in 0.17.0

[2017-11-07 12:44] #30 closed

[2017-11-14 21:15] nbari opened #31 "create linux package for common distros"
Create a package for common distros to simplify the install process so it can be used by default package managers like `apt`, `yum`, `pacman` etc.

[2017-11-23 09:41] nbari opened #32 "retries implementation"
http://disq.us/p/1nvwxkm

define in the `run.yml` the number of retries before exiting, like the  `once` but within the configuration file.

[2017-12-01 18:09] nbari opened #33 "option to send logs to syslog ( centralized logging)"
Have an option to send logs directly to `syslog`.

The idea behind is to simplify the log collection in systems that are already sending logs to a remote server.

[2017-12-14 23:17] alexzaytsev-newsroomly opened #34 "Question - log throughput"
When i run my app via immortal with yml config, if i don't specify the `log` option, i don't see any logs in my console, apart from process starts and exists.
Is it possible to have the logs sent to the console from a running process?

[2017-12-14 23:33] nbari commented on #34
Does Your app writes to stdout or stderr ?

[2017-12-14 23:34] alexzaytsev-newsroomly commented on #34
`stdout`

[2017-12-14 23:39] nbari commented on #34
Check also this https://unix.stackexchange.com/q/58550/53084

[2017-12-14 23:57] alexzaytsev-newsroomly commented on #34
@nbari those solutions imply that you know the pid? which i won't know until immortal has started it, so i guess i'd need to do something like `./immortal -c somewhere && && tail -f /proc/$(./immortalctl | grep 'dotnet' | awk '{print $3;}' )/fd/1`?

[2017-12-16 11:16] nbari commented on #33
Calling an external logger like `logger: logger -t foo` woking just find for this purpose.

[2017-12-16 11:16] #33 closed

[2017-12-17 22:40] alexzaytsev-newsroomly commented on #34
@nbari i have the app which runs inside docker. I use immortal to bootstrap the app, so that if it crashes inside the container it is restarted instantly (rather than my delayed healthcheck do that). After the app has started, all the logging is channeled appropriately (to slack, for example). However, in development the app may fail to load before the internal logging is initialized. Normally, i

[2017-12-18 14:38] nbari commented on #34
Hi @alexzaytsev-newsroomly don't know if this may help but you could pass any program to handle the `stdout` output for example:

    cmd: your-app
    logger: logger -t test

In this case `logger:` is going to send all the output to the program [logger](https://www.freebsd.org/cgi/man.cgi?logger(1))

[2017-12-20 21:23] nbari opened #35 "option to keep trying and only stop when exit 0"
In some cases, for example along `rsync` process would be nice to keep trying until X program exit 0:

    immortal -l /tmp/rsync.log rsync -avz your-server.tld::maildirs /vmail/

once program exist successfully, immortal could exit

[2017-12-20 21:27] nbari commented on #35
#32

[2017-12-20 21:27] nbari commented on #32
#35

[2017-12-20 21:27] #32 closed

[2018-01-01 14:37] nbari commented on #34
Closing this for now, feel free to open it if needed.

[2018-01-01 14:37] #34 closed

[2018-01-04 12:34] nbari commented on #35
currently testing with option `-r` and in the config with `retries`  defaults to 0 which means unlimited

[2018-01-05 10:25] nbari commented on #35
Getting  `runtime error: invalid memory address or nil pointer dereference` when sending `exit` signal and using `immortaldir`

[2018-01-10 13:33] nbari commented on #35
fixed in 0.18.0

[2018-01-10 13:33] #35 closed

[2018-01-29 12:29] alexzaytsev-newsroomly commented on #34
@nbari this sort of worked for one use case, but not so much for another - we want to monitor logs in AWS cloudwatch, and unfortunately we can't just ship them there.

I am not a Go developer, but ti seems if we add a `log.printf` on line 30 here: https://github.com/immortal/immortal/blob/3e1a024327ecd437a801f80acd89572b7cd6b779/logger.go

We might be able to get what we want. Would you be able to

[2018-01-29 13:06] nbari commented on #34
hi @alexzaytsev-newsroomly modifying the code won't work, as explained before, but if you explain in detail what tool you are using to collect your logs,  probably I could find something that may help.  There are many options, for example, you could probably just use the `tee` command:

    logger: tee -a /tmp/test.log

That will append/write to `/tmp/test.log` while printing to stdout

[2018-01-30 10:50] alexzaytsev-newsroomly commented on #34
Alrighty, i was able to get what i wanted by creating a symlink for the `/proc/1/fd/1` e.g. like so `ln -sf /proc/1/fd/1 /var/log/whatever.log` and then specifying this as the log file in the immortal config.

Quick question: If i omit the `age`, `num` and `size` parameters, does it mean that immortal won't try to trim the file and just keep writing to it indefinitely?

[2018-01-30 11:31] nbari commented on #34
Hi @alexzaytsev-newsroomly you could set `age` to `0`  (`size` defaults to 0)  that will avoid rotating the file or you could totally avoid writing to a file by using the `logger` option like mentioned before, in case you don't have the `tee` command you could either use `cat` this will save you from creating a symlink.

[2018-01-30 11:34] alexzaytsev-newsroomly commented on #34
@nbari i tried `cat` before and it output nothing.

[2018-01-30 11:37] nbari commented on #34
What about `tee` ?

[2018-01-30 11:42] nbari commented on #34
@alexzaytsev-newsroomly this should work to avoid log rotation:

    log:
        file: /path/to/your/file.log

By not declaring `age`, `num`, `size` (I need to improve docs about this)

[2018-01-30 14:35] nbari opened #36 "improve documentation"
Improve the overall documentation, for the example in the [run.yml](https://immortal.run/post/run.yml/) there is no explanation about how to avoid rotating logs, something that could be done by just omitting the options `age`, `num`, `size` etc.

Be more clear, add more examples (avoid assumptions)

[2018-01-30 14:44] nbari commented on #34
Hi @alexzaytsev-newsroomly I just created this so that I don't forget: https://github.com/immortal/immortal/issues/36 please feel free to add/extend if required.

[2018-01-31 21:50] alexzaytsev-newsroomly commented on #34
@nbari i don't know if you find my above example useful/warranted enough, but that's something that you can also include along the lines of: `when running in docker, you may hit this issue, here's how to solve it`. Just a thought. Otherwise - many thanks, immortal serves us well!

[2018-02-27 14:04] jsumners opened #37 "Releases do not contain man pages?"
It seems the pre-built binary releases do not contain the man pages. Is there a reason for this?

[2018-02-27 15:07] nbari commented on #37
Hi @jsumners thanks for catching this out,  I need to find a way of how to include them, for now, I am using [goxc](https://github.com/laher/goxc)  will look more into this, any ideas are more than welcome.

[2018-02-27 15:12] jsumners commented on #37
I really don't know anything about the Go ecosystem. I just found this project yesterday and liked its simplification of deploying a runit style supervisor for user level services. I am thinking about integrating into future system builds by simply acquiring the release and unpackaging it to the right locations via an Ansible playbook.

[2018-02-27 15:39] nbari commented on #37
Hi @jsumners nice to ear that just in case I added the ansible role that I have been using here: https://github.com/immortal/ansible and some info about how I use it here https://immortal.run/post/ansible/, hope it can help.

[2018-04-15 18:04] nbari commented on #31
Giving a try to https://yum.immortal.run/ (seems that CentOS/Redhat)

[2018-04-18 02:23] serussell opened #38 "immortaldir not starting services"
`immortaldir` does not start services when running immortal _entirely_ from a user `$HOME` -- with *no* access to root directories.

## Setup

[code]

## Success with `immortal`

[code]

This works; `bin/immortalctl status` shows the service started & `app` is running.  I can stop, restart, and otherwise control `app` through `immortalctl` as expected. However...

## Failure with `immortaldir`

[c

[2018-04-18 08:52] nbari commented on #38
hi @serussell can you try to add to your path the location of `immortal`, give a try to:

    PATH:$HOME/local/bin/immortal:$PATH

`immortalctl` relies on the PATH to find `immortal`

[2018-04-19 00:11] serussell commented on #38
Hi @nbari -- I think I did read that somewhere.  I did so; it doesn't make a difference:

[code]
Before I did `^c` on `immortaldir`, I checked in another term to make sure that none of the services were running.

[2018-04-19 08:37] nbari commented on #38
@serussell can you please show an example of `oklog.yml` seems to be looping, try to check the logs by using something like:

    cmd: your-comand
    log:
      file: /var/log/oklog.log

Probaly is related to not having rights to write to `/var/run/immortal` you can change that directory setting the environment var `IMMORTAL_SDIR` for example:

    export IMMORTAL_SDIR=$HOME/test/immortal/

[2018-04-19 15:31] serussell commented on #38
Very interesting.  I'd set it before but hadn't after adding the path.

So, the summary fix was: have the `immortal*` programs in PATH and set `IMMORTAL_SDIR` to a user-write-able directory.  It's working now -- thank you!

[2018-04-19 15:31] #38 closed

[2018-04-19 17:33] nbari commented on #38
@serussell nice that you manage it to make it work, if found any other issue please don't hesitate on creating an issue. 👍

[2018-05-28 09:53] nbari commented on #37
Fixed in 0.19.0 using now https://packagecloud.io/immortal/immortal, still work in progress to support mulitple architectures

[2018-05-28 09:53] #37 closed

[2018-05-28 09:53] nbari commented on #31
https://packagecloud.io/immortal/immortal still work in progress to support multiple architectures

[2018-05-29 14:47] luetge opened #41 "Command dependencies"
Hi,

the following is an idea to allow dependence of processes on unix commands: instead of the keyword "require" to list a number of immortal processes as dependencies one could introduce a keyword "require_cmd", which specifies a list of unix commands that are executed and have to return without errors (exit code 0) in order for the immortal process to start. Immortal would then automatically ch

[2018-06-08 06:06] nbari commented on #41
@luetge please check latest release `0.20.0` it has implemented this feature 👍

For testing in mac:

     $ brew install immortal

create a supervisor dir:

     mkdir /tmp/immortal

set the enviroment IMMORTAL_SDIR to that directory:

     export IMMORTAL_SDIR=/tmp/immortal

Create a dir to scan (in where your `run.yml` files will be):

    mkdir $HOME/tmp/services

Start `immortaldir` on that di

[2018-06-13 05:59] luetge commented on #41
That works perfectly, thank you! (Tested on MacOS)

[2018-06-13 05:59] #41 closed

[2018-09-11 04:51] alexzaytsev-newsroomly opened #42 "Question - can we do one retry using `retries`"
We use immortal to configure some code insider our docker containers.
Depending on some external configuration, we may want our service to always be restarted, or to run just once.

I tried setting `retries` to 0 in immortal configuration but that didn't seem to do it.

Any way i can use immortal so that supervisor exits if service exits, using `run.yml` approach?

[2018-09-11 06:10] alexzaytsev-newsroomly commented on #42
Actually updating to immortal 0.20 and setting `IMMORTAL_EXIT` variable almost did it - except on exit immortal crashes with the following go stack trace:

[code]

[2018-09-11 09:18] nbari commented on #42
Hi @alexzaytsev-newsroomly, `retries 1`  should do the work, starts the process and if it fails it will restart it only once , `retries 0`  is like running the app without supervisor but to be concistent could be probably nice to have since it will also be the only way to exit if the apps exists.

Could you describe more how you are using the `IMMORTAL_EXIT` ,  I would like to test more in detail

[2018-09-11 10:16] nbari commented on #42
Problem seems to be here: https://github.com/immortal/immortal/blob/master/supervise.go#L94-L103

[2018-09-11 12:33] nbari commented on #42
@alexzaytsev-newsroomly can you reproduce the "crash"? I am currently testing with `retries 0`, `-r 0` and `IMMORTAL_EXIT` but working as expected

[2018-09-13 19:27] nbari commented on #42
@alexzaytsev-newsroomly  please give a try to the develop branch

[2018-09-21 14:00] nbari opened #43 "improve mutex"
improve the [RWmutex](https://golang.org/pkg/sync/) implementation and tests using [TestMain](https://golang.org/pkg/testing/#hdr-Main)

[2018-09-23 16:16] #43 closed

[2018-10-04 19:34] nbari commented on #42
Closing this for now, please feel free to reopen the issue if persists

[2018-10-04 19:34] #42 closed

[2018-11-06 11:15] superjose opened #44 "How do you stop a process?"
Hi :). Sorry for opening up a GitHub issue. I just can't predictably stop an immortal service with `immortalctl`.

The service doesn't appear without sudo.

So I always try the following
immortalctl stop <process-name>
immortalctl stop <process-id>
sudo immortalctl stop <process-name>
sudo immortalctl stop <process-id>
sudo immortalctl -k <process-id>
sudo immortalctl -k <process-name>
immortalctl

[2018-11-06 12:30] nbari commented on #44
Hi @superjose nice thing is that your process seems to be well immortalized and not dying easy :-)

I answerd here https://askubuntu.com/a/1090481/710912

Give a try, if need extra help or find an issue please [don't heasitate on creating another issue](https://github.com/immortal/immortal/blob/master/CONTRIBUTING.md)

[2018-11-06 12:32] superjose commented on #44
Hahahah, yeah :D Awesome!!  I'll let you know!!

[2018-11-06 12:57] nbari commented on #44
@superjose Also keep in mind that the output of `immortalctl` depends on the user running the command if you started a process within your user (not root) you will see only lor "local" processes `$HOME/.immortal` not the ones started from the `$ROOT` on `/var/run/immortal`

[2018-12-05 15:07] geraldatphotobucket opened #45 "Have a lot of Defunct process when running immortal in a docker container"
I had some missing libraries in my container so my process kept dying, but this seemed to create a lot of defunct process when I log into the container.

I run my command as
immortal -l /dev/null /usr/bin/python3 <my python script>

in the container immortal has pid 1.   Is there something I need to do to avoid these defunct entries in the container (and presumably host) pid table?

[2018-12-05 17:56] nbari commented on #45
hi @geraldatphotobucket check this https://github.com/immortal/immortal/issues/23 probably could give you some ideas if want to use `immortal` within docker also (https://github.com/nbari/docker/tree/master/immortal)

From your command probably you may want to run a script, not the `python3` binary since that will just create a loop trying to run  every time `python3` if exists, probably someting

[2018-12-05 17:57] #44 closed

[2018-12-20 06:43] #45 closed

[2019-02-03 23:02] shomodj opened #47 "validate config file"
is there a way to validate config file?

[2019-02-04 14:16] nbari commented on #47
Hi @shomodj is tested/parsed when using it so if there is an error it should tell you, for example if you use this [`bad-run.yml`](https://github.com/immortal/immortal/blob/master/example/bad-run.yml), you will get an error like this:

    $ immortal -c bad-run.yml
    missing command, use ("immortal -h") for help

Are you having some issues with a specific configuration file?

[2019-02-04 14:35] shomodj commented on #47
No I don't have issues, I just want to validate the file before issuing restart command, this is a normal behaviour in ansible so it will tell me that the file is wrongly formatted and not try and restart the service

[2019-02-04 14:46] shomodj commented on #47
most OSS has this option
https://www.configapp.com/2018/01/09/configuration-file-validation-check/

[2019-02-04 19:37] nbari commented on #47
Hi @shomodj I think is somethig that could be implemented, I am thinking on printing the full config file if everything is ok and if not an error that could help to identify the issue besides exiting with > 0

[2019-02-07 14:15] magellan-13016 opened #48 "Immortal on Raspberry"
Hi !
I'm using immortal with Linux Mint and the SSTV software since this program is buggy and exit itself whenever while it must receive SSTV pictures from ISS. So in order to avoid missing pictures from the International Space Station, Immortal is a must have software.
I've just installed QSSTV on my raspberry and I didn't find any package for Raspbian and ARM device working for my Raspbian under

[2019-02-07 14:51] nbari commented on #48
hi @magellan-13016 there are some arm packages available here: https://packagecloud.io/app/immortal/immortal/search?q=arm

for  linux `deb` based distros you could just do:

    curl -s https://packagecloud.io/install/repositories/immortal/immortal/script.deb.sh | sudo bash

For linux more info can be found here  https://packagecloud.io/immortal/immortal/install.

[2019-02-07 15:03] magellan-13016 commented on #48
Thanks for your answer but I already tried this :

**_pi@raspberrypi:~ $ curl -s https://packagecloud.io/install/repositories/immortal/immortal/script.deb.sh | sudo bash
Detected operating system as raspbian/stretch.
Checking for curl...
Detected curl...
Checking for gpg...
Detected gpg...
Running apt-get update... done.
Installing apt-transport-https... done.
Installing /etc/apt/sources.list.d/im

[2019-02-07 15:32] nbari commented on #48
hi @magellan-13016 please give a try to one of this: https://dl.bintray.com/nbari/immortal/

probably https://dl.bintray.com/nbari/immortal/:immortal_0.22.0_linux_arm.tar.gz

You would just need to copy the 3 binaries to `/usr/local/bin`

[2019-02-07 15:40] magellan-13016 commented on #48
Oh yeah !
It works like a charm !
Many many thanks for your help !
David.

[2019-02-07 17:22] magellan-13016 commented on #48
I'm now searching a way to end my program without using the terminal.
I have made this script but I always have to type the number of the process I want to terminate.
Do you have a solution for me to avoid having to type the number of the process I want to close ?
Here is the script :

**_#!/bin/bash

echo
echo =================
echo = List of active programs =
echo =================
echo

immorta

[2019-02-07 17:29] nbari commented on #48
Use [immortaldir](https://immortal.run/post/immortaldir/) check how to use it and boot time here https://immortal.run/post/how-to-install/

That way if you you use for example `/etc/immortal` by just removing your `test.yml` files from there
it will stop them.

Or use option `-c` for example:

    immortal -c test.yml

Check more about it here https://github.com/immortal/immortal/pull/39

[2019-02-07 19:42] magellan-13016 commented on #48
I don't need my app (QSSTV) to run at boot time. I just want a way to end my app "qsstv" quicly with a shortcut on the desktop since when I start it with immortal, the only way I found to end the program is by using the terminal and my script.

[2019-02-07 19:49] nbari commented on #48
A more complex setup that could work by just visiting a link, could be to expose the socket with Nginx, check this post: https://immortal.run/post/nginx/, therefore, you could just have a shortcut calling a URL to something that coluld call `http://localhost/signal/stop`

[2019-02-07 20:07] magellan-13016 commented on #48
Many thanks. I will try to understand all things but it seems to be a little complicated to understand for me. I think the best way is that someone help me to get the green number pid  that immortalctl is diplaying so I just send the command immortalctl stop $pid and immortal exit $pid with the green number I extract from the displayed process handle by immortal.

[2019-02-07 20:15] nbari commented on #48
Hi @magellan-13016, if you want to use a name instead of a pid here is a very basic exampe:

Create a file `test.yml` with this content:

    cmd: sleep 3

Now just run `immortal -c test.yml`

if you then run `immortalctl` and you will see somthing like:

[code]

You could create another file `my-script.yml`:

     cmd: my-script.sh

and run `immortal -c my-script.yml`

And you will see `my-script

[2019-02-08 07:06] magellan-13016 commented on #48
Ok my friend, this is a big step to the goal ! Thanks to your help, I can now exit my app with the name given to the yml file with the command immortalctl stop "name" but after it is impossible to restart it until I run immortalctl start "name".

Is it a way to use immortal -c file.yml with the command start ?

[2019-02-08 07:59] nbari commented on #48
hi @magellan-13016 that's how it is designed to be, you just need to start it once and forget about it, since it will try to run it forever.

[2019-02-14 10:51] mhf-ir opened #49 "as Docker container process manager"
1. Documentation needed for using immortal as non-dependency binary file as container entry point multi services container.
See supervisord as python process manager.
https://docs.docker.com/config/containers/multi-service_container/

2. And how to healtheck for container will work?
https://docs.docker.com/engine/reference/builder/#healthcheck

3. and some example to open nginx or pm2 or phpfpm or

[2019-02-14 12:11] nbari commented on #49
hi @mhf-ir all this is already supported check the docs here including some examples: https://immortal.run/post/examples/ if there is something not clear or that needs to be added please feel free to create an issue

[2019-02-21 08:29] #49 closed

[2019-02-21 08:30] nbari commented on #48
I am closing this for now, feel free to open it if required.

[2019-02-21 08:30] #48 closed

[2019-03-07 22:02] nbari commented on #47
Hi @shomodj if possible please try/test the develop branch, the option `-cc` has been implemented, it will print the config file and `exit 0` if no errors found, it will `exit 1` otherwise

[2019-03-08 10:52] nbari commented on #47
@shomodj please try version `0.23.0`

[2019-03-11 14:06] #47 closed

[2019-09-03 15:58] nordicdyno opened #50 "Log files reopening"
Is there any way to reopen log files managed by immortal?
What do you think about implementing a such feature (by catching SIGUSR2 like supervisord do) to avoid dependency on any external log manager?

[2019-09-03 17:05] nordicdyno opened #51 "immortaldir should stop all services on exit"
maybe it's my bias, but it looks like more predictable behaviour (or at least it would be nice to have such option).

[2019-09-03 17:34] nbari commented on #50
Hi @nordicdyno could you please elaborate more, maybe an example of what you want to do could help.

[2019-09-03 17:36] nbari commented on #51
It is a supervisor, the goal is to "immortalize" your services so that they never die happens what happens, however, you can stop after some retries, check https://immortal.run/post/retries/

[2019-10-06 15:46] yogesh-desai commented on #36
Hi @nbari
So, do you mean to add extra information in the readme, when we just skip the flags; `age`, `num` and `size`?
[code]
The above config will avoid the `log-rotate`, right? If yes, then I have raised PR https://github.com/immortal/immortal/pull/52
Please kindly review and give your feedback.

Thank you.

[2019-10-06 16:06] #51 closed

[2019-10-06 16:09] nbari commented on #36
hi @yogesh-desai that helps, thanks.

[2019-10-07 06:21] nbari commented on #36
hi @yogesh-desai do you think could add your changes to the web docs (https://immortal.run/post/immortal/ in https://github.com/immortal/docs/edit/master/post/immortal.md), thanks in advance

[2019-10-08 11:32] yogesh-desai commented on #36
Hi @nbari
Could you please create an issue with `Hacktoberfest` label in the repo? I would be happy to contribute.

[2019-10-08 11:36] nbari opened #53 "Improve web docs"
Improve the web docs: for example https://github.com/immortal/docs/edit/master/post/immortal.md

[2019-10-08 11:36] nbari commented on #36
Hi @yogesh-desai https://github.com/immortal/immortal/issues/53 hope is ok

[2019-10-08 12:32] yogesh-desai commented on #53
Working on it.

[2019-10-08 13:24] yogesh-desai commented on #53
Hi @nbari
Created a PR: https://github.com/immortal/docs/pull/2 Please review and give your feedback.
Thank you.

[2019-10-08 14:44] nbari commented on #53
@yogesh-desai thanks

[2019-10-08 17:25] yogesh-desai commented on #36
Can we close this issue as well @nbari? Let me know your thoughts if you think to add more.

[2019-10-08 17:27] #36 closed

[2019-10-08 18:25] yogesh-desai commented on #25
Hi @nbari
Could you please explain more about it? Specifically, what you mean by,

[2019-10-08 19:04] nbari commented on #25
It probably helps to mention that `kqueue` is not available in Linux therefore for BSD systems the tests need to be improved.

For example if you are in mac, after cloning the repo type  `make cover` (you may need `make get` before).  That will open a browser and show the overall coverage in where you will notice that `scandir.go` and  `watchdir.go`  need some improvements/refactoring in order to

[2019-10-20 09:23] olgeni commented on #50
Hi,

If some log rotation utility renames the immortal log file while it is still open, the process will keep writing on the old file and the new file will be left untouched 😅

If you close and then reopen the log file based on some external signal (USR2, HUP, etc.) then you can prevent it.

[2019-10-20 09:24] olgeni commented on #50
Now I see that log rotation is already supported so I'm not really sure about the use case 👀

[2019-10-20 09:50] olgeni opened #54 "Custom 'cleanup' action"
Hi,

Would it be possible to integrate some kind of custom cleanup action after the process from “cmd” finishes? Something to be executed with the exit code as a parameter, that could perform some extra actions before the main process is restarted (or just after it is shut down.)

I have a 'cmd' script that uses “exec” to start the main service so that it can be managed properly, but when it stops

[2019-10-20 10:47] nbari commented on #54
probably you could use the `require_cmd` option

    require_cmd:  test -f /tmp/foo

[2019-10-20 11:05] nbari commented on #54
I think could be a useful option,  what about having something like `post_exit` so that like you mention, exactly after the process exists if will call the script/command (could be something like metrics) and not bound to the defined `wait` if any, for example, something like:

[code]

[2019-10-20 12:32] nbari commented on #54
@olgeni give a try to latest develop version, tests still pending but should do the work (https://github.com/immortal/immortal/commit/cf58467fef6d9347c9629bbf3292732d37aec796)

[2019-10-20 16:21] olgeni commented on #54
It works 🙌 Thank you!

Is there a way to pass the exit code from the main process?

[2019-10-20 16:32] nbari commented on #54
Should be possible, in this you mean as the first argument to the script called if `post_exit` is defined right?

[2019-10-20 16:51] olgeni commented on #54
Yup - so you could send alerts, or leave some state for required_cmd to check on the next run..

[2019-10-20 16:58] nbari commented on #54
hi  @olgeni please give a try to https://github.com/immortal/immortal/commit/14257532a583255d8df3af5b6ca6c29785a4bab8, still test missing but I think it may work.

[2019-10-20 17:36] olgeni commented on #54
I don't see it with dtrace - the exit code gets lost somewhere in the shell 😅

It works if I change it like this:

`exec.Command(shell, "-c", fmt.Sprintf("%s %d", s.daemon.cfg.PostExit, exitcode)).Run()`

[2019-10-20 18:00] nbari commented on #54
@olgeni I just update it, please give a try, can you share you are you testing with `dtrace` thanks in advance.

[2019-10-20 18:17] olgeni commented on #54
Now I can see it 🙌

Quick check:

[code]

dwatch -X proc

[code]

[2019-10-20 19:41] #50 closed

[2019-10-24 16:47] nbari commented on #54
implemented in https://github.com/immortal/immortal/releases/tag/0.24.0

[2019-10-24 16:47] #54 closed

[2019-10-24 18:25] olgeni commented on #54
🙌 Thanks! 🙌

[2020-01-07 21:44] mradspieler opened #56 "immortaldir crashes with a high number of processes"
### What did you do?
I would like to start/manage about 1500 processes via immortal. But unfortunately after about 100-200 processes immortaldir crashes. As soon as I create more than 200 yml files in the immortaldir directory, immortaldir crashes.

yml file content is always the same:
`cmd: sleep 3600`

### What did you expect to see?
It should be possible to manage 1500 processes

### What did y

[2020-01-09 07:26] nbari commented on #56
Hi @mradspieler how are you running, calling **immortal**?  in the same way (shell/user) can you try something like this:

    for i in {1..200}; do sleep 3600 &; done

If using `immortaldir` try https://immortal.run/post/how-to-install/

[2020-01-24 12:34] mradspieler commented on #56
Hi @nbari,

thanks for your reply.
we are using immortaldir, and installed it as described in https://immortal.run/post/how-to-install/

But now we are able to deal with the crash with the following workaround:

new settings in /etc/security/limits.conf

_root     soft    nproc            unlimited
root     hard    nproc            unlimited
\*        soft    nproc            2097151
\*        har

[2020-01-24 12:57] nbari commented on #56
Hi @mradspieler is not that `immortal` needs to many open files, that is more related to the imposed limits by your OS and the amount of process you are creating

[2020-01-24 13:04] #56 closed

[2020-03-22 00:24] chenrui333 opened #57 "immortal 0.24.0/0.24.1 upgrade issue"
Relates to
- https://github.com/Homebrew/homebrew-core/pull/45928
- https://github.com/Homebrew/homebrew-core/pull/47622

It looks like we cannot build immortal from the source code (I just tried on my local machine, I wonder if you can provide some instructions to keep the formula up to date). Thanks!

cc @nbari

[2020-03-22 07:24] nbari commented on #57
Hi @chenrui333 many thanks for trying, could you please give a try to latest release https://github.com/immortal/immortal/releases/tag/0.24.2, I updated the dependencies, probably that could help, fix the issue.

How could I test also the formula before trying to bump?

[2020-03-22 13:36] chenrui333 commented on #57
my understanding is your file structure got changed since last workable release.

[2020-03-22 14:38] chenrui333 commented on #57
My another goal is to move this repo to use go modules (https://github.com/Homebrew/homebrew-core/issues/47627), and I created a new PR on this theme.

[2020-03-22 17:06] nbari commented on #57
Hi @chenrui333, thanks for the PR 👍 build still working but how to deal now with the homebrew formula?

[2020-03-25 19:20] nbari commented on #57
https://github.com/Homebrew/homebrew-core/pull/52015

[2020-03-25 19:20] #57 closed

[2020-06-11 13:41] halmartin opened #60 "Are packagecloud immortal packages still maintained?"
Hello, sorry if a GitHub issue is not the correct place to raise this.

I was following the [installation instructions](https://immortal.run/post/how-to-install/) for immortal and noticed two issues:

1. The latest version available on [packagecloud](https://packagecloud.io/immortal/immortal) is 0.23.1 while it seems from the [GitHub releases](https://github.com/immortal/immortal/releases), that t

[2020-06-11 15:15] nbari commented on #60
Hi @halmartin thanks for the heads up, can you please try again, the package should be now available for [focal](https://packagecloud.io/immortal/immortal/packages/ubuntu/focal/immortal_0.24.3-2-gaed5591_amd64.deb).

The packages are created using this Dockerfile: https://github.com/immortal/immortal/blob/master/Dockerfile, and just in case this for FreeBSD: https://github.com/freebsd/freebsd-port

[2020-06-12 07:25] halmartin commented on #60
Looks good, thanks a lot!

[code]

[code]

[2020-06-12 07:25] #60 closed

[2020-08-31 15:23] tmalaher-telus opened #62 "Lack of orthogonality: cmd vs require_cmd"
The `cmd` configuration value is parsed using `strings.Fields()`, and executed with: `exec.Command(p.command[0], p.command[1:]...)`

The `require_cmd` configuration value is not parsed and is executed with `exec.Command(shell, "-c", cfg.RequireCmd).Run()`

This means that you *cannot* use a command in `cmd` that does any sort of globbing, pipes, quoting, escaping or uses environment variables, and

[2020-08-31 16:22] nbari commented on #62
Hey, fancy title :sunglasses:

`cmd` is the app/binary/command you would like to demonize, but you still can use `/bin/sh` for example:

    immortal -l /tmp/sleep.log /bin/sh -c "sleep 5 && date"

Output of `immortalctl`:

[code]

What is the error you get from your example? try:

[code]

or create a script:

[code]

Then try:

[code]

try testing running it like this: `immortal -c /path/to/test.

[2020-09-01 19:40] tmalaher-telus commented on #62
You've pointed out another non-orthogonality:

behaves differently from:

So your example: `immortal -l /tmp/sleep.log /bin/sh -c "sleep 5 && date"` works fine.

But `immortal -c command.yml` containing: `cmd: sleep 5 && date` fails with:

[code]

Whereas `cmd: sh -c "sleep 5 && date"` fails with:

[code]

This is because what is being passed to exec.Command is:

`["sleep", "5" ,"&&", "date"]`  or

[2020-09-01 19:40] #62 closed

[2020-11-04 03:00] seliestel commented on #44
I have a similar problem:

I installed immortal.run and immortalized a process on WSL2 Ubuntu to try it. But I didn't set up immortalctl or immortaldir. Now, I cannot find the way to kill this process. When I run "immortalctrl" or "sudo immortalctrl" there are no processes listed. But I can see that they are running from htop. I have also not found any run.yml file anywhere or even an /.immortal d

[2020-11-04 03:03] seliestel opened #63 "Stopping a process"
I have a similar problem to a previous question: https://github.com/immortal/immortal/issues/44#issuecomment-436243276

I installed immortal.run and immortalized a process on WSL2 Ubuntu to try it. But I didn't set up immortalctrl or immortaldir. Now, I cannot find the way to kill this process. When I run "immortalctrl" or "sudo immortalctrl" there are no processes listed. But I can see that they

[2020-11-04 08:18] nbari commented on #63
hi @seliestel normally you just type `immortalctl` and it will list/show the running process, to stop everything you do something like:

    immortalctl halt *

You are running it like root or as a normal user?

[2020-11-04 08:24] seliestel commented on #63
@nbari Thanks for your reply. I was running it as normal user. The immortalctl instructions were not working. I actually solved it by rebooting. After the reboot, the process was not resuscitated. I guess that it had not created the file run.yml in the first place, that's why I couldn't find it.

[2020-11-04 08:24] #63 closed

[2020-12-02 22:21] pwFoo opened #64 "Custom immortaldir with wildcard?"
I'm searching for a process manager / monitor with wildcard service dir like
[code]

Would that possible with immortal?

[2020-12-03 15:03] nbari commented on #64
Everything within a dir could be started: https://immortal.run/post/immortaldir/ and you could stop all of them using a wildcard:

    immortalctl halt "*"

https://immortal.run/post/immortalctl/

hope this helps

[2021-03-05 16:33] #64 closed

[2021-08-19 17:30] cchimbooo opened #65 "Failing to install Immortal based on packagecloud.io"
I'm trying to download Immortal through

`apt_config_url="https://packagecloud.io/install/repositories/immortal/immortal/config_file.list?os=${os}&dist=${dist}&source=script"`

I'm using a php:7.3-fpm  image.

`RUN apt-get install -y --no-install-recommends git zip unzip nano libxml2-dev libpng-dev libzip-dev libpq-dev cron

# Immortal
RUN curl -s https://packagecloud.io/install/repositories/immor

[2021-08-21 19:30] nbari commented on #65
From the log:

packagecloud.io, or this script's OS detection failed.

What OS you are using?

you can always download it from: https://packagecloud.io/immortal/immortal

[2022-06-28 02:35] mrbluecoat opened #68 "Require network"
Ref #12

How do I ensure the network is configured by dhcp prior to running my command? The equivalent of systemd's `After=network.target`

[2022-09-09 18:42] igitur opened #69 "jammy build"
Please add a jammy build to packagecloud. 🙏

[2022-09-10 19:25] nbari commented on #69
Hi @igitur please give it a try:
[code]

should be working for `amd64, arm64`

[2022-09-11 17:59] igitur commented on #69
Perfect, thanks!

[2022-09-11 17:59] #69 closed